http://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp37-cp37m-linux_x86_64.whl 
http://download.pytorch.org/whl/cpu/torchvision-0.7.0%2Bcpu-cp37-cp37m-linux_x86_64.whl
pandas==1.1.0
numpy==1.19.0
streamlit==0.64.0
sentence_transformers==0.3.6
googledrivedownloader==0.4