sentence_transformers==1.1.0
streamlit==0.80.0
plotly==4.14.3
googledrivedownloader==0.4
pandas==0.25.3
numpy==1.18.0
http://download.pytorch.org/whl/cpu/torch-1.8.1%2Bcpu-cp37-cp37m-linux_x86_64.whl 
http://download.pytorch.org/whl/cpu/torchvision-0.9.1%2Bcpu-cp37-cp37m-linux_x86_64.whl